.vert-cent {
  vertical-alignment: middle;
  margin-left: auto;
  margin-right: auto;
}
div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
.blogPost {
    font: 25px;
    font-weight: bold;
    color: black;
}
